REVISION=BRANCHNAME   meta-agl-demo            iotbzh=https://github.com/iotbzh/meta-agl-demo.git     origin=gerrit.automotivelinux.org:AGL/meta-agl-demo
REVISION=BRANCHNAME   meta-agl                 iotbzh=https://github.com/iotbzh/meta-agl.git          origin=gerrit.automotivelinux.org:AGL/meta-agl
REVISION=BRANCHNAME   meta-intel-iot-security  01org=git@github.com:01org/meta-intel-iot-security.git iotbzh=git@github.com:iotbzh/meta-intel-iot-security.git                origin=https://github.com/pohly/meta-intel-iot-security.git
REVISION=BRANCHNAME   meta-openembedded        origin=git://git.openembedded.org/meta-openembedded
REVISION=BRANCHNAME   meta-qt5                 origin=git@github.com:meta-qt5/meta-qt5.git
REVISION=BRANCHNAME   meta-renesas             iotbzh=https://github.com/iotbzh/meta-renesas.git      origin=gerrit.automotivelinux.org:AGL/meta-renesas
REVISION=BRANCHNAME   poky                     origin=git://git.yoctoproject.org/poky
